In [1]:
import pandas as pd

In [2]:
usa_df = pd.read_csv("usa_sales.csv")
usa_df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,236670,Wired Headphones,2,11.99,08/31/19 22:21,"359 Spruce St, Seattle, WA 98101"
1,236671,Bose SoundSport Headphones,1,99.99,08/15/19 15:11,"492 Ridge St, Dallas, TX 75001"
2,236672,iPhone,1,700.0,08/06/19 14:40,"149 7th St, Portland, OR 97035"
3,236673,AA Batteries (4-pack),2,3.84,08/29/19 20:59,"631 2nd St, Los Angeles, CA 90001"
4,236674,AA Batteries (4-pack),2,3.84,08/15/19 19:53,"736 14th St, New York City, NY 10001"
...,...,...,...,...,...,...
12006,248146,Bose SoundSport Headphones,1,99.99,08/29/19 22:19,"868 Hickory St, San Francisco, CA 94016"
12007,248147,AAA Batteries (4-pack),3,2.99,08/31/19 16:26,"206 Lakeview St, Boston, MA 02215"
12008,248148,AA Batteries (4-pack),1,3.84,08/02/19 07:25,"568 13th St, Seattle, WA 98101"
12009,248149,USB-C Charging Cable,1,11.95,08/08/19 12:10,"495 Walnut St, San Francisco, CA 94016"
12010,248150,AA Batteries (4-pack),1,3.84,08/16/19 08:13,"738 Park St, Los Angeles, CA 90001"

In [3]:
usa_df.isnull().sum()

Order ID            28
Product             28
Quantity Ordered    28
Price Each          28
Order Date          28
Purchase Address    28
dtype: int64

In [4]:
usa_df = usa_df.dropna()
usa_df.isnull().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

In [5]:
usa_df.duplicated().sum()

43

In [6]:
usa_df = usa_df.drop_duplicates()
usa_df.duplicated().sum()

0

In [7]:
usa_df.shape

(11940, 6)

In [8]:
usa_df = usa_df[usa_df["Order ID"].str.isnumeric()]
usa_df.shape

(11939, 6)

In [9]:
usa_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11939 entries, 0 to 12010
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          11939 non-null  object
 1   Product           11939 non-null  object
 2   Quantity Ordered  11939 non-null  object
 3   Price Each        11939 non-null  object
 4   Order Date        11939 non-null  object
 5   Purchase Address  11939 non-null  object
dtypes: object(6)
memory usage: 652.9+ KB

In [10]:
# Remove Whitespaces
usa_df["Order ID"] = usa_df["Order ID"].str.strip()
usa_df["Product"] = usa_df["Product"].str.strip()
usa_df["Quantity Ordered"] = usa_df["Quantity Ordered"].str.strip()
usa_df["Price Each"] = usa_df["Price Each"].str.strip()
usa_df["Order Date"] = usa_df["Order Date"].str.strip()
usa_df["Purchase Address"] = usa_df["Purchase Address"].str.strip()

# Fix Data Types
usa_df["Order ID"] = usa_df["Order ID"].astype(int)
usa_df["Quantity Ordered"] = usa_df["Quantity Ordered"].astype(int)
usa_df["Price Each"] = usa_df["Price Each"].astype(float)
usa_df["Order Date"] = pd.to_datetime(usa_df["Order Date"])

C:\Users\DS LAB PC 24\AppData\Local\Temp\ipykernel_8716\1376594338.py:13: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  usa_df["Order Date"] = pd.to_datetime(usa_df["Order Date"])

In [11]:
usa_df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,236670,Wired Headphones,2,11.99,2019-08-31 22:21:00,"359 Spruce St, Seattle, WA 98101"
1,236671,Bose SoundSport Headphones,1,99.99,2019-08-15 15:11:00,"492 Ridge St, Dallas, TX 75001"
2,236672,iPhone,1,700.00,2019-08-06 14:40:00,"149 7th St, Portland, OR 97035"
3,236673,AA Batteries (4-pack),2,3.84,2019-08-29 20:59:00,"631 2nd St, Los Angeles, CA 90001"
4,236674,AA Batteries (4-pack),2,3.84,2019-08-15 19:53:00,"736 14th St, New York City, NY 10001"
...,...,...,...,...,...,...
12006,248146,Bose SoundSport Headphones,1,99.99,2019-08-29 22:19:00,"868 Hickory St, San Francisco, CA 94016"
12007,248147,AAA Batteries (4-pack),3,2.99,2019-08-31 16:26:00,"206 Lakeview St, Boston, MA 02215"
12008,248148,AA Batteries (4-pack),1,3.84,2019-08-02 07:25:00,"568 13th St, Seattle, WA 98101"
12009,248149,USB-C Charging Cable,1,11.95,2019-08-08 12:10:00,"495 Walnut St, San Francisco, CA 94016"
12010,248150,AA Batteries (4-pack),1,3.84,2019-08-16 08:13:00,"738 Park St, Los Angeles, CA 90001"

In [12]:
usa_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11939 entries, 0 to 12010
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          11939 non-null  int32
 1   Product           11939 non-null  object
 2   Quantity Ordered  11939 non-null  int32
 3   Price Each        11939 non-null  float64
 4   Order Date        11939 non-null  datetime64[ns]
 5   Purchase Address  11939 non-null  object
dtypes: datetime64[ns](1), float64(1), int32(2), object(2)
memory usage: 559.6+ KB

In [13]:
canada_df = pd.read_csv("canada_sales.csv")
canada_df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"128 Elm St, Quebec City"
1,NaN,NaN,NaN,NaN,NaN,"113 Oak St, Ottawa"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"116 Elm St, Winnipeg"
3,176560,Google Phone,1,600,04/12/19 14:38,"149 Broadway, Edmonton"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"121 Maple St, Vancouver"
...,...,...,...,...,...,...
18378,194090,Google Phone,1,600,04/08/19 17:11,"124 Market St, Quebec City"
18379,194091,AA Batteries (4-pack),1,3.84,04/15/19 16:02,"130 Cedar Ave, Ottawa"
18380,194092,AAA Batteries (4-pack),2,2.99,04/28/19 14:36,"137 Maple St, Vancouver"
18381,194093,AA Batteries (4-pack),1,3.84,04/14/19 15:09,"133 Elm St, Vancouver"
18382,194094,Lightning Charging Cable,1,14.95,04/18/19 11:08,"105 Pacific Ave, Toronto"

In [14]:
canada_df.isnull().sum()

Order ID            59
Product             59
Quantity Ordered    59
Price Each          59
Order Date          59
Purchase Address     0
dtype: int64

In [15]:
canada_df = canada_df.dropna()
canada_df.isnull().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

In [16]:
canada_df.duplicated().sum()

0

In [17]:
canada_df.shape

(18324, 6)

In [18]:
canada_df = canada_df[canada_df["Order ID"].str.isnumeric()]
canada_df.shape

(18289, 6)

In [19]:
canada_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18289 entries, 0 to 18382
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          18289 non-null  object
 1   Product           18289 non-null  object
 2   Quantity Ordered  18289 non-null  object
 3   Price Each        18289 non-null  object
 4   Order Date        18289 non-null  object
 5   Purchase Address  18289 non-null  object
dtypes: object(6)
memory usage: 1000.2+ KB

In [20]:
# Remove Whitespaces
canada_df["Order ID"] = canada_df["Order ID"].str.strip()
canada_df["Product"] = canada_df["Product"].str.strip()
canada_df["Quantity Ordered"] = canada_df["Quantity Ordered"].str.strip()
canada_df["Price Each"] = canada_df["Price Each"].str.strip()
canada_df["Order Date"] = canada_df["Order Date"].str.strip()
canada_df["Purchase Address"] = canada_df["Purchase Address"].str.strip()

# Fix Data Types
canada_df["Order ID"] = canada_df["Order ID"].astype(int)
canada_df["Quantity Ordered"] = canada_df["Quantity Ordered"].astype(int)
canada_df["Price Each"] = canada_df["Price Each"].astype(float)
canada_df["Order Date"] = pd.to_datetime(canada_df["Order Date"])

# Convert Price to USD
canada_df["Price Each"] = canada_df["Price Each"] * 0.72

C:\Users\DS LAB PC 24\AppData\Local\Temp\ipykernel_8716\3903884041.py:13: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  canada_df["Order Date"] = pd.to_datetime(canada_df["Order Date"])

In [21]:
canada_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18289 entries, 0 to 18382
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          18289 non-null  int32
 1   Product           18289 non-null  object
 2   Quantity Ordered  18289 non-null  int32
 3   Price Each        18289 non-null  float64
 4   Order Date        18289 non-null  datetime64[ns]
 5   Purchase Address  18289 non-null  object
dtypes: datetime64[ns](1), float64(1), int32(2), object(2)
memory usage: 857.3+ KB

In [22]:
final_df = pd.concat([usa_df, canada_df], ignore_index=True)
final_df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,236670,Wired Headphones,2,11.9900,2019-08-31 22:21:00,"359 Spruce St, Seattle, WA 98101"
1,236671,Bose SoundSport Headphones,1,99.9900,2019-08-15 15:11:00,"492 Ridge St, Dallas, TX 75001"
2,236672,iPhone,1,700.0000,2019-08-06 14:40:00,"149 7th St, Portland, OR 97035"
3,236673,AA Batteries (4-pack),2,3.8400,2019-08-29 20:59:00,"631 2nd St, Los Angeles, CA 90001"
4,236674,AA Batteries (4-pack),2,3.8400,2019-08-15 19:53:00,"736 14th St, New York City, NY 10001"
...,...,...,...,...,...,...
30223,194090,Google Phone,1,432.0000,2019-04-08 17:11:00,"124 Market St, Quebec City"
30224,194091,AA Batteries (4-pack),1,2.7648,2019-04-15 16:02:00,"130 Cedar Ave, Ottawa"
30225,194092,AAA Batteries (4-pack),2,2.1528,2019-04-28 14:36:00,"137 Maple St, Vancouver"
30226,194093,AA Batteries (4-pack),1,2.7648,2019-04-14 15:09:00,"133 Elm St, Vancouver"
30227,194094,Lightning Charging Cable,1,10.7640,2019-04-18 11:08:00,"105 Pacific Ave, Toronto"

In [23]:
final_df.isnull().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

In [24]:
final_df.duplicated().sum()

0

In [25]:
import sqlalchemy

import os
from dotenv import load_dotenv
load_dotenv()

True

In [26]:
# Connect to PostgreSQL
db_url = os.getenv("DATABASE_URL")
connection = sqlalchemy.create_engine(db_url)

In [27]:
# Save DataFrame to PostgreSQL
final_df.to_sql("sales_data", con=connection, if_exists="replace", index=False)

PendingRollbackError: Can't reconnect until invalid transaction is rolled back.  Please rollback() fully before proceeding (Background on this error at: https://sqlalche.me/e/20/8s2b)

In [ ]:
# Verify the data was saved correctly
query = "SELECT * FROM sales_data LIMIT 5;"
result_df = pd.read_sql(query, con=connection)
result_df

In [ ]:
# Close the connection
connection.close()